---
---

@import "minima";

body {
  font-family: "Georgia", "Times New Roman", serif;
  background-color: var(--body-bg);
  color: var(--body-text);
  line-height: 1.7;
}

a {
  color: #b30000;
}

.site-title {
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
  color: #b30000;
}

.post-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  color: #222;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #b30000;
  padding-left: 10px;
  color: #444;
}
